body {
  margin: 0;
  max-width: 1440px;
}

h1 {
  font-size: 40px;
  margin: auto;
}

h3 {
  margin: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i {
  margin-top: 30px;
  font-size: 30px;
}

.icon h3 {
  margin-right: 10px; /* Ajoute un espace entre le texte et l'icône */
}

header {
  text-align: center;
}

.localisation {
  background-color: #eaeaea;
  height: 50px;
}

.localisation i,
.localisation p {
  display: inline-block;
  margin: 10;
  vertical-align: middle;
  /*detail*/
}

.hero {
  text-align: center;
  background-color: #f6f6f6;
}

.hero p {
  color: #353535;
  font-size: 18px;
}

.main-button {
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  margin: 20px;
  border: 1px solid transparent;
  margin-top: 50px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border: 2px #353535 solid;
}
.number p {
  margin: 0;
}

.boutton-desktop {
  font-size: 16px;
}
.corp-button {
  background: #f7f7f7;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
  height: 72.38px;
  border: #f7f7f7;
  margin: 10px;
  max-width: 335px;
  position: relative;
}

.corp-button i {
  color: #9356dc;
  margin: 10px;
}

.button-fonctionnement {
  font-size: 16px;
}

.rechercher {
  text-align: center;
}
.container {
  max-width: 1080px;
  margin: auto;
  padding: 40px;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-heberg {
  width: 40%;
  margin: 20px 20px;
  min-width: 280px;
}

.container-menu {
  background-color: #f6f6f6;
}
.card-heberg img {
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  object-fit: cover;
}

.details-heberg {
  cursor: none;
  background-color: white;
  border-radius: 0 0px 20px 20px;
}

.footer-container {
  background-color: #353535;
  color: white;
  display: flow-root;
}
.footer-container i {
  margin: inherit;
}
.footer-container ul li {
  display: inline-block;
  height: 19px;
  margin: 15px;
}
footer ul {
  text-align: right;
}

.footer-container i {
  margin: 0;
  margin-right: 5px;
}

/*autres pages*/

.logos {
  background-color: white;
  width: 100%;
  position: absolute;
}
.logos img {
  margin: 2%;
  width: 15%;
}
.menu-container h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 41px;
  margin: 25px;
  margin-top: 50px;
}
header {
  position: relative;
}
.logo-image {
  position: relative;
  z-index: 1;
}

.background-image {
  width: 100%;
  margin-top: -234px;
}

.menu-container {
  background: #f7f7f7;
  position: relative;
  margin: 0% 13%;
  top: -155px;
  border-radius: 55px;
}
/*
.plat h3 {
  padding-top: 10px;
  margin-left: 10px;
}
.plat p {
  padding-bottom: 10px;
  margin-left: 10px;
}
*/

h1 {
  font-weight: 300;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}

.plat {
  margin: 12%;
  margin-top: 50px;
}
.plat1 {
  background: #ffffff;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  display: flex;
  max-width: 634px;
  height: 69px;
  position: relative;
  width: calc(100% - 15px);
  margin: 10px;
}
.plat1 h3,
.plat1 p {
  margin: 0;
  margin-left: 10px;
}
.plat1 h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nom-plat {
  width: calc(100% - 50px);
  transition: 0.5s;
}
.prix-plat {
  display: flex;
  width: 50px;
  height: 69px;
  justify-content: center;
  align-items: flex-end;
}

.prix-plat p {
  position: absolute;
  bottom: 10px;
}

.sidebar {
  background-color: #99e2d0;
  width: 0px;
}
.plat1:hover .sidebar {
  width: 50px;
  transition: 0.5s;
}

.plat1:hover .nom-plat {
  width: calc(100% - 100px);
}

.menu-footer {
  position: relative;
  top: -155px;
}

/*Téléphone en dessous de 768 */

@media only screen and (max-width: 768px) {
  .footer-container {
    display: block;
    padding: 22px 25px;
  }

  .footer-container nav ul {
    text-align: left;
    padding: 0;
  }

  .footer-container nav ul li {
    display: block;
  }
  .menu-container {
    background: #f7f7f7;
    position: relative;
    margin: 0;
    top: -45px;
    border-radius: 50px;
  }
  .background-image {
    width: 100%;
    margin-top: 52px;
  }
}
